{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

    <div class="row align-items-center">

        <div class="col"></div>

        <div class="col-4" style="background: #FFFFFF; border: solid; height: auto; border-radius: 25px; padding: 15px;">
            <div class="modal-body">
                      <form method="post">
                          <h3 class="text-center">Login</h3>
                          {% csrf_token %}
                          {{ form|crispy }}
                          <p class="text-center"> <input class="btn btn-primary" type="submit" value="Login"> </p>
                          <a href="{% url 'sign-up-page' %}" style="text-decoration: none; margin-top: 20px;">Create user.</a>
                      </form>
            </div>
        </div>

        <div class="col"></div>

    </div>
</div>
{% endblock %}